<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645970464567-ggcgrk7eii0tlp5pv0fc14i7nlmpeoi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645970464567-ggcgrk7eii0tlp5pv0fc14i7nlmpeoi7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>645970464567-mldr122cmm7hh9kgetqu1s31clm5gdo0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9M8SuGIADxyFGlqXMSmNXQQDeUdCvZLA</string>
	<key>GCM_SENDER_ID</key>
	<string>645970464567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirestore</string>
	<key>PROJECT_ID</key>
	<string>todo-firestore-d6bd0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firestore-d6bd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645970464567:ios:0b3090b4fc6075d782d4b2</string>
</dict>
</plist>